include README.md
include LICENSE.txt
include LICENSE
include MANIFEST.in
recursive-include gooey/images *
recursive-include gooey/languages *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
